{% extends "base.html" %}


                    {% block title %}
                    <h1>虚拟桌面启动</h1>
                        {% endblock %}

{% block global %}
        <div id="global">
            <div class="container-fluid">
               <div class="row cm-fix-height">

                   {% for desktop in desktops %}
                 <a href="{{ url_for('panel.desktop_file', desktop_id=desktop.id) }}">   <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>{{ desktop.name }}</strong> </div>

                                <div class="panel-body">

                                <h3 style="margin-top:0"> <small>Server Ip：{{ desktop.server }}</small> </h3>
                              <h3>  <small>  Server System：{{ desktop.system }}</small></h3>
                                 <h3>  <small> Server User：{{ desktop.user }}</small></h3>
                                  <h3> <small> Server Description：{{ desktop.description }}</small></h3>



                                </div>

                            </div>
                        </div></a>

                   {% endfor %}


                </div>

            </div>
        </div>
{% endblock %}

